body {
    padding-left: 5em;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: #6699CC;
    color: #003B6D;

}
nav {
    display: block;
    background-color: #003B6D;
    text-align: left;
    padding: 2%;
    font-size: 1.3em;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 1%;
    color: #BDBDBD;
}
li {
    list-style-type: disc;
    margin: 0%;
    padding: 0%;
    left: 0%;
}
h3 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    color: #003B6D; }
a:link {
    color: #003B6D; }
a:visited {
    color: #676767; }
a:hover {
    color: white;}
a:active{
    color: #BDBDBD;}
nav a:active{
    background-color: #BDBDBD;}
nav a:hover {
    background-color: #676767;}

footer {
    background-color: #003B6D;
    display: block;
    padding: 1.5em;
    color: #BDBDBD;
    font-size: small;
    }
a.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
footer a:link {
    color: white;
    padding: 1.5em; }
#logo {
    border-radius: 3%;
}
#cat4 {
    float: right;
    position: relative;
    padding: 0px 15px 0px 20px;
    border-radius: 10%;
}
p {
    overflow: auto;
}
#cat1 {
    float: right;
    width: 20%;
    padding: 1%;
    border: #003B6D;
    border-style: outset;
}
#cat2 {
    float: right;
    width: 25%;
    padding: 1%;
    border: #003B6D;
    border-style: outset;
}
#cat3 {
    float: right;
    width: 30%;
    padding: 1%;
    border: #003B6D;
    border-style: outset;
}
#cat4 {
    float: right;
    width: 30%;
    padding: 1%;
    border: #003B6D;
    border-style: outset;
}
#cat5 {
    float: right;
    width: 30%;
    padding: 1%;
    border: #003B6D;
    border-style: outset;
}
#dog1 {
    float: left;
    padding: 1%;
    border-radius: 10%;
    border: #003B6D;
    border-style: outset;
}
#dog2 {
    float: right;
    padding: 1%;
    width: 30%;
    border-radius: 10%;
    border: #003B6D;
    border-style: outset;
}
#dog3 {
    float: left;
    padding: 1%;
    border-radius: 10%;
    border: #003B6D;
    border-style: outset;
}
#search {
    float: right;
    position: relative;
    padding: .2%;
}
#search-bar {
    float: inline-end;
    position: relative;
    background-color: aliceblue;
}
#signin {
    float: right;
    text-align: center;
}
#signup {
    float: right;
}

